/target/
pom.xml
pom.xml.asc
*.jar
.cpache/
.boot/
.nrepl-port
.repl-history
.prepl-history
.nrepl-history
.idea
*.iml
*.iws
.vscode/
.calva
.calva-repl/
.lsp/.cache/
.clj-kondo/.cache/
.DS_Store
Thumbs.db
.cpcache/